body {
    background-color: black;
}

:root {
  --main-color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px;
  border-radius: 50%;
  flex-grow: 0;
}

.nav {
  flex-grow: 1;
}

.ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-li {
  color: var(--main-color);
}

.language {
  flex-grow: 0;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 700px) {
  .nav {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: 701px) {
  .container12 {
    display: none;
  }
}


/* HEADER-BUTERBROD */
.link1 {
  color: #fff;
}

.p-menu1{
   height: 100%;
}


/* Buterbrod */
.buterbrod1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.buterbrod1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .buterbrod1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .buterbrod1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .buterbrod1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 220px;
}


/* Menu */
.menu1 {
  width: 100%;
  background-color: #02173F;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0 10px;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 27px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 15px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}



/* PICTURE-LOGO */
#image {
  display: none;
}
.matrix-image {
  background-image: url('matrix.jpg');
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 70px;
}
.logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


@media (max-width: 2700px) {
  .desktop-image {
    width: 800px;
  }
}
@media (max-width: 1700px) {
  .desktop-image {
    width: 400px;
  }
}
/* @media (max-width: 1500px) {
  .desktop-image {
    width: 1260px;
  }
}
@media (max-width: 1300px) {
  .desktop-image {
    width: 1060px;
  }
} */
@media (max-width: 1100px) {
  .desktop-image {
    width: 600px;
  }
}
/* @media (max-width: 900px) {
  .desktop-image {
    width: 660px;
  }
} */
@media (max-width: 700px) {
  .desktop-image {
    width: 460px;
  }
}
@media (max-width: 500px) {
  .desktop-image {
    width: 260px;
  }
}
@media (max-width: 300px) {
  .desktop-image {
    width: 200px;
  }
}


/* Projects */
#projects {
  margin-bottom: 70px;
}
.projects-title {
  display: flex;
  justify-content: center;
}
.projects-title-text {
  color: var(--main-color);
}
.tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tic-tac-toe-title {
  color: var(--main-color);
}
.tic-tac-toe-text {
  color: var(--main-color)
}
.tic-tac-toe-icon {
  display: flex;
  justify-content: center;
}
.trivia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trivia-title {
  color: var(--main-color);
}
.trivia-text {
  color: var(--main-color)
}
.trivia-icon {
  display: flex;
  justify-content: center;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-title {
  color: var(--main-color);
}
.portfolio-text {
  color: var(--main-color);
}
.portfolio-icon {
  display: flex;
  justify-content: center;
}


@media (max-width: 2700px) {
.tic-tac-toe {
  margin: 0 100px;
}
.trivia {
  margin: 0 100px;
}
.portfolio {
  margin: 0 100px;
}
}
@media (max-width: 2200px) {
.tic-tac-toe {
  margin: 0 80px;
}
.trivia {
  margin: 0 80px;
}
.portfolio {
  margin: 0 80px;
}
}
@media (max-width: 1200px) {
.tic-tac-toe {
  margin: 0 40px;
}
.trivia {
  margin: 0 40px;
}
.portfolio {
  margin: 0 40px;
}
}
@media (max-width: 700px) {
.tic-tac-toe {
  margin: 0 20px;
}
.trivia {
  margin: 0 20px;
}
.portfolio {
  margin: 0 20px;
}
}




/* Resume */
#resume {
  display: none;
  margin-bottom: 70px;
}
.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 170px;
}
.my-name {
  color: var(--main-color);
}
.profession {
  color: var(--main-color);
}
.resume-contacts-phone {
  color: var(--main-color);
}
.resume-contacts-email {
  color: var(--main-color);
}
.resume-contacts-site {
  color: var(--main-color);
}
.resume-about {
  display: flex;
  justify-content: space-between;
}
.resume-about-title {
  width:30%;
}
.resume-section-title {
  color: var(--main-color);
}
.resume-about-content {
  width:60%;
}
.resume-about-content-text {
  color: var(--main-color);
}
.resume-experience {
  display: flex;
  justify-content: space-between;
}
.resume-experience-title {
  width: 30%;
}
.resume-experience-content {
  width: 60%;
}
.resume-job-place {
  color: var(--main-color);
}
.resume-job-duration {
  color: var(--main-color);
}
.resume-job-title {
  color: var(--main-color);
}
.resume-li {
  color: var(--main-color)
}
.institute {
  color: var(--main-color)
}
.institute-li {
  color: var(--main-color)
}
.resume-education {
  display: flex;
  justify-content: space-between;
}
.resume-education-title {
  width: 30%;
}
.resume-education-content {
  width: 60%;
}

@media (max-width: 2700px) {
  .resume-header {
    margin: 0 300px;
  }
}
@media (max-width: 2000px) {
  .resume-header {
    margin: 0 200px;
  }
}
@media (max-width: 1300px) {
  .resume-header {
    margin: 0 100px;
  }
  .institute {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .resume-header {
    margin: 0 70px;
  }
  .institute {
    font-size: 17px;
  }
}
@media (max-width: 700px) {
  .resume-header {
    margin: 0 30px;
  }
  .my-name {
    font-size: 17px;
  }
  .profession {
    font-size: 12px;
  }
  .institute {
    font-size: 12px;
  }
  .resume-section-title {
    font-size: 12px;
  }
  .resume-job-place {
    font-size: 12px;
  }
  .resume-job-duration {
    margin: 2px 0;
  }
  .resume-job-title {
    margin: 2px 0;
  }
}
@media (max-width: 370px) {
  .resume-header {
    margin: 0 3px;
  }
  .my-name {
    font-size: 17px;
  }
  .profession {
    font-size: 12px;
  }
  .institute {
    font-size: 12px;
  }
  .resume-section-title {
    font-size: 12px;
  }
  .resume-job-place {
    font-size: 12px;
  }
  .resume-job-duration {
    margin: 2px 0;
  }
  .resume-job-title {
    margin: 2px 0;
  }
}



/* CONTACTS */
#contacts {
  display: none;
}

.contacts-title {
  display: flex;
  justify-content: center;
}
.contacts-title-text {
  color: var(--main-color);
}
.contacts-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-content-info {
  margin-left: 20px;
}

/* @keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: blue;
  }
} */

.phone-title {
  /* animation: color-change 7s infinite; */
  color: var(--main-color);
}
.email-title {
  /* animation: color-change 7s infinite; */
  color: var(--main-color);
}
.telegram-title {
  /* animation: color-change 7s infinite; */
  color: var(--main-color);
}

.phone {
  color: var(--main-color);
}
.email {
  color: var(--main-color);
}
.telegram {
  color: var(--main-color);
}

@media (max-width: 460px) {
  .phone-title {
    font-size: 12px;
  }
  .email-title {
    font-size: 12px;
  }
  .telegram-title {
    font-size: 12px;
  }
  .phone {
    font-size: 11px;
  }
  .email {
    font-size: 11px;
  }
  .telegram {
    font-size: 11px;
  }
}






/* FOOTER */
.footer {
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: red;
}

.github {
  margin-right: 10px;
}

.linkedin {
  margin-right: 10px;
}