body {
    background-color: lightgreen;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 70px;
    border-radius: 50%;
    flex-grow: 0;
}

.nav {
    flex-grow: 1;
}

.ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.language {
    flex-grow: 0;
}

a {
    text-decoration: none;
    color: black;
}